In [2]:
import pandas as pd

In [10]:
empty_df=pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [11]:
list1 = ['a', 'b', 'c', 'd', 'e']
print(list1)

['a', 'b', 'c', 'd', 'e']

In [12]:
df1= pd.DataFrame(list1)
print(df1)

   0
0  a
1  b
2  c
3  d
4  e

In [16]:
df1

   0
0  a
1  b
2  c
3  d
4  e

In [17]:
list_of_list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(list_of_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [20]:
df2=pd.DataFrame(list_of_list)
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
dict1 = {'Id': [1, 2, 3, 4, 5, 6]}
dict1

{'Id': [1, 2, 3, 4, 5, 6]}

In [24]:
df3=pd.DataFrame(dict1)
df3

   Id
0   1
1   2
2   3
3   4
4   5
5   6

In [27]:
ls_dict=[{'a':1, 'b':2}, {'a': 4, 'b': 5}]
df4 = pd.DataFrame(ls_dict)
df4

   a  b
0  1  2
1  4  5

In [28]:
ls_dict=[{'a':1, 'b':2}, {'a': 4}]
df4 = pd.DataFrame(ls_dict)
df4

   a    b
0  1  2.0
1  4  NaN

In [29]:
dict_sr={'ID': pd.Series([1,2,3,4])}
df6=pd.DataFrame(dict_sr)
df6

   ID
0   1
1   2
2   3
3   4