In [40]:
import pandas as pd

In [41]:
df = pd.read_csv('car-speed.csv')
df

   speed  car_age  experience  age
0    200       15         5.0   85
1     90       17        13.0   20
2    165       12         4.0   93
3    110       20         NaN   60
4    140        5         3.0   82
5    115        2         8.0   10

In [42]:
type(df)

pandas.core.frame.DataFrame

In [43]:
df.columns

Index(['speed', 'car_age', 'experience', 'age'], dtype='object')

In [44]:
df = pd.read_csv('car-speed.csv', nrows=2)
df

   speed  car_age  experience  age
0    200       15           5   85
1     90       17          13   20

In [45]:
df = pd.read_csv('car-speed.csv', usecols=[0, 1])
df

   speed  car_age
0    200       15
1     90       17
2    165       12
3    110       20
4    140        5
5    115        2

In [46]:
df = pd.read_csv('car-speed.csv')
df

   speed  car_age  experience  age
0    200       15         5.0   85
1     90       17        13.0   20
2    165       12         4.0   93
3    110       20         NaN   60
4    140        5         3.0   82
5    115        2         8.0   10

In [47]:
df = pd.read_csv('car-speed.csv', skiprows=[1, 3])
df

   speed  car_age  experience  age
0     90       17        13.0   20
1    110       20         NaN   60
2    140        5         3.0   82
3    115        2         8.0   10

In [48]:
df = pd.read_csv('car-speed.csv', index_col=['speed'])
df

     speed  car_age  experience
age
85     200       15         5.0
20      90       17        13.0
93     165       12         4.0
60     110       20         NaN
82     140        5         3.0
10     115        2         8.0