In [3]:
import pandas as pd

In [4]:
pd.read_csv('car-speed.csv')

   speed  car_age  experience  age
0    200       15         5.0   85
1     90       17        13.0   20
2    165       12         4.0   93
3    110       20         NaN   60
4    140        5         3.0   82
5    115        2         8.0   10

In [ ]:
import os

In [ ]:
os.getcwd()